* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Monotype_Corsiva'; /* Имя шрифта */
    src: url(../fonts/Monotype_Corsiva.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Proxima_Nova'; /* Имя шрифта */
    src: url(../fonts/ProximaNova-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('ProximaNovaCond-RegularIt.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('ProximaNova-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('ProximaNovaExCn-BoldIt.ttf');
    font-weight: bold;
    font-style: italic;
}

.slick-slide:hover, .slick-slide:active, .slick-slide:visited {
    outline: 0;
    outline-offset: 0;
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
}

form button:hover{
    cursor: pointer;
}



/* photo_report */
.photo_report{
    background: #2d1c15;
    font-family: 'Proxima_Nova';
    padding: 70px 0;
    color: #fff;
}

.photo_report .container{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.flexx{
    display: flex !important;
    align-items: center;
}

.photo_report .block_text{
    background: #683d2c;
    margin-left: 70px;
    height: 640px;
    padding: 35px 15px 30px 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 1000px;
}

.photo_report .block_img{
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba( 0, 0, 0, 0.8)ж
    width: 850px;
    margin: 10px 0;
}

.photo_report .block_img img{
    border-radius: 25px;
    height: 700px;
    width: 850px;
}

.photo_report .draggable{
    padding: 0 !important;
}

.photo_report .slick-slide{
    width: 1920px !important;
}

.photo_report_slider h3{
    
}

/* photo_report end */

/* footer */

/* footer end */
@media (min-width: 1920px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {
    
}

@media (max-width: 576px) {
    
}

@media (max-width: 480px) {
    
}

@media (max-width: 440px) {
    
}

@media (max-width: 375px) {
    
}