* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D1C15;
}

@font-face {
    font-family: 'Monotype_Corsiva'; /* Имя шрифта */
    src: url(../fonts/Monotype_Corsiva.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Proxima_Nova-reg'; /* Имя шрифта */
    src: url(../fonts/ProximaNova-Regular.ttf); /* Путь к файлу со шрифтом */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova-reg-it';
    src: url('../fonts/ProximaNovaCond-RegularIt.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Proxima_Nova-bold';
    src: url('../fonts/ProximaNova-Bold.ttf');
}

@font-face {
    font-family: 'Proxima_light';
    src: url('../fonts/ProximaNova-Light.ttf');
}

.slick-slide:hover, .slick-slide:active, .slick-slide:visited {
    outline: 0;
    outline-offset: 0;
}

a, a:hover, a:visited, a:link {
    text-decoration: none;
}

form button:hover {
    cursor: pointer;
}

/* photo_report */
.photo_report{
    background: #2d1c15;
    font-family: 'Proxima_Nova';
    padding: 70px 0;
    color: #fff;
}

.full_cr{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.flexx{
    display: flex !important;
    align-items: center;
}

.photo_report .block_text{
    background: #683d2c;
    margin-left: 70px;
    height: 640px;
    padding: 35px 50px 30px 35px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 1000px;
}

.photo_report .block_img{
    border-radius: 25px;
    box-shadow: 0 0 20px 0 rgba( 0, 0, 0, 0.8);
    width: 850px;
    margin: 10px 0;
}

.photo_report .block_img img{
    border-radius: 25px;
    height: 700px;
    width: 850px;
}

.photo_report .draggable{
    padding: 0 !important;
}

.photo_report .slick-slide{
    width: 1920px !important;
}

.photo_report_slider h3{
    font-family: "Arial";
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.photo_report_slider p{
    font-size: 30px;
    line-height: 1.2;
    height: 400px;
}

.block_text p span{
    color: #fdc83c;
}

.photo_report_panel{
    
}

.photo_report_arrow{
    text-align: center;
}

.photo_report_link{
    text-align: center;
}

.photo_report_panel a{
    color: #271e19;
    background: #fff;
    padding: 30px 70px;
    font-size: 30px;
    letter-spacing: 3px;
}

.photo_report_arrow .slick-prev:before,
.photo_report_arrow .slick-next:before{
    z-index: 2;
    position: relative;
}

.photo_report_arrow .slick-prev{
    left: 15px;
}

.photo_report_arrow .slick-prev:before{
    content: url(../images/photo_report_slider_left.png);
}

.photo_report_arrow .slick-next{
    right: -5px;
}

.photo_report_arrow .slick-next:before{
    content: url(../images/photo_report_slider_right.png);
}

.photo_report_arrow .slick-dots li{
    height: 3px;
    background: #eee6e4;
    margin: 0;
    width: 38px;
}

.photo_report_arrow .slick-active{
    background: #f3d99e;
    border: none;
    box-shadow: 0 0 5px 1px rgba( 243, 217, 158, 0.8);
}

.photo_report_arrow .slick-dots li button:before{
    content: '';
    top: -8px;
}

.photo_report_panel span{
    font-size: 30px;
}

/* photo_report end */

/* reviews */
.reviews{
    padding: 90px 0 110px;
    background: #2d1c15;
    font-family: 'Proxima_Nova';
    color: #fff;
}

.reviews h2{
    font-size: 50px;
    color: #f5db90;
    padding-bottom: 20px;
}

.reviews_slider_item > .row{
    display: flex;
    justify-content: space-around;
}

.reviews_slider_img{
    border-radius: 35px;
    box-shadow: 0 0 20px 0 rgba( 0, 0, 0, 0.8);
    margin: 10px 0;
    margin-left: 65px;
}

.reviews_slider_img img{
    height: 520px;
    width: 440px;
    border-radius: 25px;
    position: relative;
    z-index: 1;
}

.reviews_slider_head{
    width: 740px;
    margin-right: 500px;
}

.reviews_slider_head p{
    font-size: 30px;
    color: #f3db95;
    font-style: italic;
}

.slider_bg{
    background: #4d2d20;
    padding: 70px 35px 70px 500px;
    width: 1570px;
    border-radius: 25px;
}

.slider_bg p{
    font-size: 30px;

}

.reviews .row_content_slider{
    margin-top: -320px;
    margin-bottom: 150px;
}

.reviews .clider_info{
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: center;
}

.reviews .slick-prev:before,
.reviews .slick-next:before{
    z-index: 2;
    position: relative;
}

.reviews .slick-prev{
    left: inherit;
    right: 50px;
    position: relative;
    top: -100px;
}

.reviews .slick-prev:before{
    content: url(../images/photo_report_slider_top.png);
}

.reviews .slick-next{
    right: 50px;
    position: relative;
    margin-top: -75px;
}

.reviews .slick-next:before{
    content: url(../images/photo_report_slider_bottom.png);
}

.row_links{
    font-size: 30px;
    margin-top: -105px;
    margin-bottom: 80px;
}

.row_links a{
    color: #fff;
}

.add_reviews{
    padding-left: 300px;
}

.reviews .draggable{
    height: 630px !important;
}

.reviews .bg_i_text{
    width: 100%;
    position: relative;
    z-index: 3;
    height: 95px;
    margin-top: -95px;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 3px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.clider_info span{
    top: -45px;
    position: relative;
}
/* reviews end */

/* latest_publication */
.latest_publication{

}

.latest_publication .block_text{
    order: 2;
    margin-left: 0;
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.latest_publication h3{
    font-family: "Arial";
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 50px;
}

.latest_publication p{
    font-size: 30px;
    line-height: 1.2;
    height: 400px;
}

.latest_publication .photo_report_arrow{
    order: 2;
}
/* latest_publication end 

/* Thubnails */
.thumbnails {
    margin-top: 120px;
}

.thumbnails .container-fluid {
    padding: 0 80px;
}

.wrapper-thubnails {
    width: 100%;
    border-radius: 30px;
    height: 1000px;
}

.wrapper-thubnail-item {
    padding: 0;
}

.thubnails-item {
    height: 500px;
}

.thubnails-item-info {
    background-color: #ffffff;
    padding: 22px 35px 140px;
    color: #2D1C15;
}

.thubnails-item-info .thubnails-item-info-heading {
    font-size: 50px;
    color: #2D1C15;
    text-align: center;
}

.thubnails-item-info .thubnails-item-info-content {
    font-size: 30px;
    overflow: hidden;
    height: 180px;
}

.thubnails-item img {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.wrapper-button-all-photos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 69px;
    width: 390px;
    margin: 0 auto;
    background-color: #74432F;
    border-radius: 0 0 20px 20px;
}

.button-all-photos {
    color: #F4DB8F;
    font-size: 25px;
    text-decoration: none;
}

.button-all-photos:hover {
    color: #F4DB8F;
}

/* Thubnails end */


/* Thubnails-about */
#thumbnails-about{
    margin: 100px 0;
}

#thumbnails-about .thubnails-item{
    position: relative;
}

.thubnails-item-wrapper-lines{
    position: absolute;
    top: 50%;
    height: 100px;
    width:100%;
    margin-top: -50px;
    background-color: #000000;
}

.thubnails-item-line-link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    color: #FFFFFF;
    font-size: 35px;
    text-decoration: none;
}

.thubnails-item-line-link:hover{
    color: #FFFFFF;
}

#thumbnails-about .thubnails-item-info-heading{
    margin-bottom: 30px;
}
/* Thubnails-about end */


/* contactForm */
.wrapper-text-left {
    height: 800px;
    background: #74432F;
}

.padding-phone-p{
    padding-top: 15px}

.special-padding-top{
padding-top: 60px;
}

.wrapper-answer-form{
    background: whitesmoke;
    position: relative;
    right: 60px;
    border-radius: 30px;
}
.text-ua {
    font-size: 50px;
    color: #F4DB8F;
    text-align: center;
    font-family: 'Proxima_Nova-reg';
}

.text-p-ua, .my-fafa {

    text-align: center;
    color: white;
}
.my-fafa{
    padding-top: 75px;
}

.fa-facebook-square{
    margin-left: 35px;
text-align: center;
    color:black;

}
.fa-instagram{
    margin-left: 35px;
    text-align: center;
    color:black;
}

.fa-google{
    margin-left: 35px;
    text-align: center;
    color:black;
}
hr {
    margin-top: 50px;
    margin-bottom: 0;
    height: 2px;
    width: 80%;
    background: #2D1C15;
    margin-left: 95px;

}

.text-p-ua {
    font-size: 30px;
    font-family: 'Proxima_Nova-reg';
}

.my-fafa svg {
    width: 50px !important;
    height: 100px !important;
}

.h2-text-quest {
    font-family: 'Proxima_Nova-bold';
    text-align: center;
    font-size: 41px;
    margin-top: 85px;
    letter-spacing: 2px;
}

textarea {
    width: 80%;
    border: 2px solid #2D1C15;
    min-height: 200px;
    font-family: 'Proxima_light';
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    letter-spacing: 7px;
    font-size: 25px;
    padding-top: 90px;
    text-align: left;
    margin: 0 auto;
    color: #2D1C15;
}

.question-span {
    background: #2D1C15;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: 'Proxima_Nova-reg';

}

.under-form-text {
    font-size: 16px;
    color: #74432F;
    margin-top: 20px;
    font-family: 'Proxima_light';
    margin-bottom: 40px;
}

.question-span {
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    border-radius: 5px;
    width: 653px;
    height: 68px;
}

.input-bot {
    margin-bottom: 55px;
}

.checkout-input {
    margin-top: 80px;
    width: 80%;
    border: none;
    border-bottom: 2px solid #74432F;
    background: none;
}
/*contactForm*/

/* Map section */
.map {
    width: 100%;
    height: 860px;
}

.map iframe {
    width: 100%;
    height: inherit;
}

/* Map section end */

/* footer */
.footer {
    padding: 24px 0 15px 0;
    width: 100%;
    background-color: #2D1C15;
}

.footer-logo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    width: 180px;
    height: 128px;
}

.footer-copyright {
    margin-top: 20px;
}

.footer-copyright, .develop {
    color: #F4DB8F;
    font-size: 23px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 31px;
}
/* footer end */



/*reservaion-form*/

.text-reserv{
    font-size: 60px;
    color:#F4DB8F;
    font-family: 'Proxima_Nova-bold';
    letter-spacing: 8px;
    margin-bottom: 40px;

}

 .reserv-span{
    display: inline-block;
    background:#FFFFFF;
   width: 300px;
   height: 80px;
     color:black;
    text-align: center;
     font-size: 25px;   font-family: 'Proxima_Nova-reg';
     letter-spacing: 5px;
margin-top: 40px;
}



 #place-1,#place-2,#place-3,#place-4,#place-5{
     text-align: center;
     margin-bottom: 30px;

 }




::-webkit-input-placeholder {color:#2D1C15!important; font-size: 25px;   font-family: 'Proxima_Nova-reg';}
::-moz-placeholder          {color:#2D1C15!important; font-size: 25px;   font-family: 'Proxima_Nova-reg';}/* Firefox 19+ */
:-moz-placeholder           {color:#2D1C15!important; font-size: 25px;   font-family: 'Proxima_Nova-reg';}/* Firefox 18- */
:-ms-input-placeholder      {color:#2D1C15!important; font-size: 25px;   font-family: 'Proxima_Nova-reg';}


#reserve-area {
    color:#2D1C15!important; font-size: 25px;   font-family: 'Proxima_Nova-reg';
     text-align: center;
 }

form{
    text-align: center;
}
/*reservaion-form*/

/*dance-for-clear*/

/*.dance-for-clear{*/
    /*background-image: url("../images/dance-clear.png");*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*width: 100%;*/
    /*min-height: 700px;*/
/*}*/


.img-dance {
    width: 100%;
    height: 100%;
}
.text-daneclear{
    color:white;
    font-size: 50px;
    text-align: center;
    width: 100%;
    padding-top:300px;
    position: absolute;
    z-index: 999;
    font-family: 'Proxima_Nova-bold';
}

.description-dance{
    font-size: 25px;
    font-family: 'Proxima_Nova-reg';
    color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 45px;

}
/*dance-for-clear*/



/* BLOG-ONE*/

.Blog-list{
    margin: 0;
    padding: 0;
}
.dance-blog-h2{
    font-size: 40px;
    color:white;
    font-family: 'Proxima_Nova-bold';
}

.description-blog-p{

    font-size: 30px;
    color:white;
    font-family: 'Proxima_Nova-reg';
    line-height: 45px;

}
.hr-blog{
    margin: 0 auto;
}

.wrapper-all-item-blog{
    border-radius: 12px;
    background: #74432F;
}

.all-icons-wrapper{
    display: flex;
}
.icons-blog-one svg{
    color:white;
    text-align: right;
}

.fa-clock{
    text-align: right;
}


.icons-blog-two svg{
    text-align: left;
    color:white;
}

.dance-blog-one-list{
    width: 350px;
    height: 350px;
}
/* BLOG-ONE*/


/* all-photos*/
.photo-left img{
    width: 100%;
    height: 100%;
    position: relative;
}

.photo-right img {
    width: 100%;
    height: 100%;
    position: relative;
}



.twest-1:hover{


}
/* all-photos*/

@media (min-width: 1920px) {

}

@media (max-width: 1400px) {

}

@media (max-width: 1200px) {
    .wrapper-thubnails {
        height: auto;
    }

    .thubnails-item {
        height: 300px;
    }

    .thubnails-item-info {
        padding: 10px 20px 80px;
    }

    .thubnails-item-info .thubnails-item-info-heading {
        text-align: center;
        font-size: 26px;
    }

    .thubnails-item-info .thubnails-item-info-content {
        font-size: 18px;
        height: 128px;
    }

    .wrapper-button-all-photos {
        width: 300px;

    }

    .button-all-photos {
        font-size: 20px;
    }
}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
    .map {
        height: 500px;
    }
}

@media (max-width: 576px) {
    .footer-copyright {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .thubnails-item {
        height: auto;
    }

    .wrapper-button-all-photos {
        width: 250px;
        height: 56px;
    }

    .button-all-photos {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .map {
        height: 360px;
    }
}

@media (max-width: 375px) {

}